<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/banana.webp" class="card-img-top" alt="...">
        <div class="card-body  d-flex justify-content-between flex-column">
          <h5 class="card-title">Banana nanica</h5>
          <p class="card-text">A banana nanica é mais saborosa da região.</p>
          <a href="#" (click)="Comprar()" class="btn btn-primary container-fluid">Comprar banana nanica</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/coca.webp" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between flex-column">
          <h5 class="card-title">Coca cola</h5>
          <p class="card-text">Venha tomar uma coquinha gelada para refrescar o seu dia neste dia ensolarado.</p>
          <a href="#"  (click)="Comprar()" class="btn btn-primary container-fluid">Comprar coca cola</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/leite.png" class="card-img-top" alt="...">
        <div class="card-body  d-flex justify-content-between flex-column">
          <h5 class="card-title">Leite piracanjuba</h5>
          <p class="card-text">O leite mais puro e filtrado que você verá hoje.</p>
          <a href="#" (click)="Comprar()" class="btn btn-primary container-fluid">Comprar leite piracanjuba</a>
        </div>
      </div>
</div>
